@import '../../styles/variables';
.btn{
  position: relative;
  border: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  height: 36px;
  margin-left: 4px;
  &:hover{
    &:before{
      width: 104%;
    }
    &:after{
      transform: translateX(5px);
    }
    .link{
      color: #fff !important;
    }

  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 36px;
    height: 36px;
    transition: .42s all cubic-bezier(.01,0,0.3,1.3);
    background: $bg-red;
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 36px;
    height: 36px;
    transition: .38s all cubic-bezier(.01,0,.3,1.75);
    background: $bg-red;
  }
  img{
    position: relative;
    z-index: 1;
    margin-left: 15px;
    top: -1px;
  }
}
.link{
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 1;
  font-family: 'HelveticaNeueCyr-Medium', sans-serif;
  transition: .2s all;
  top: 1px;
  text-transform: uppercase;
}