@import '../../styles/variables';
@import '../../styles/mixins';
.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid $border-color;
  transition: .3s padding;
  @media screen and (max-width: 1024px) {
    padding: 12px 16px 13px;
  }
  &_wrapper{
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    @media screen and (max-width: 1024px) {
      padding: 0;
    }
  }
  &_logo{
    img{
      transition: .3s width, height;
      @media screen and (max-width: 1024px) {
        width: 91px;
        height: 35px;
      }
    }
  }
  &_btn{
    width: 100%;
    max-width: 156px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #13141F;
    padding: 15px 31px;
    position: relative;
    top: -4px;
    @media screen and (max-width: 1200px) {
      max-width: 136px;
      padding: 10px 21px;
      top: -1px;
    }
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
  &_mobMenu{
    position: absolute;
    right: 15px;
    top: 25px;
    display: none;
    border: none;
    background: transparent;
    font-size: 18px;
    font-family: 'HelveticaNeueCyr-Medium', sans-serif;
    color: $text-dark;
    text-transform: uppercase;
    cursor: pointer;
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 1px;
      left: -19px;
      width: 12px;
      height: 12px;
      background: $bg-red;
    }
    @media screen and (max-width: 1024px) {
      display: block;
    }
  }
}