@import '../../styles/variables';
.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 40px 17px;
  border-bottom: 1px solid $border-color;
  transition: .3s padding;
  @media screen and (max-width: 1024px) {
    padding: 16px 16px 14px;
  }
  &_wrapper{
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  &_logo{
    img{
      transition: .3s width, height;
      @media screen and (max-width: 1024px) {
        width: 91px;
        height: 35px;
      }
    }
  }
  &_btn{
    width: 100%;
    max-width: 156px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #13141F;
    padding: 12px 31px;
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
}