@font-face {
  font-family: 'HelveticaNeueCyr-Black';
  src: url('/fonts/HelveticaNeueCyr-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  src: url('/fonts/HelveticaNeueCyr-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-BoldItalic';
  src: url('/fonts/HelveticaNeueCyr-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Heavy';
  src: url('/fonts/HelveticaNeueCyr-Heavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Italic';
  src: url('/fonts/HelveticaNeueCyr-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url('/fonts/HelveticaNeueCyr-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url('/fonts/HelveticaNeueCyr-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
