@import "mixins";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: 'HelveticaNeueCyr-Roman', sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}
li{
  list-style-type: none;
}

.font-32px{
  font-size: 32px;
}
.loading{
  background-color: #FF602E;
  width: 100vw;
  height: 100vh;
}
.swiper-slide {
  transition: opacity 1s ease-in-out;
}
.swiper-slide-active {
  opacity: 1;
}
.swiper-slide-next, .swiper-slide-prev {
  opacity: 0;
}
.init-text{
  opacity: 1 !important;
  &:before{
    display: none !important;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    //color-scheme: dark;
  }
}
