@import "variables";


@mixin container {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
}

@mixin borderBottom($color) {
  border-bottom: 1px solid $color;
}
@mixin borderTop($color) {
  border-top: 1px solid $color;
}