@import "variables";
h1, h2, h3, h4, h5, h6 {
  font-family: 'HelveticaNeueCyr-Heavy', sans-serif;
}
.h1{
  font-size: $title-small;
  line-height: $title-small;
  text-transform: uppercase;
  @media screen and (max-width: 1024px){
    font-size: 32px;
    line-height: 36px;
  }
  @media screen and (max-width: 768px){
    font-size: 32px;
    line-height: 32px;
  }
}
.h1-big{
  font-size: $title-big;
}
.h3{
  font-size: 30px;
}
.title-dark{
  color: $title-dark;
}
.title-white{
  color: $title-white;
}