$border-color: #C4C4C4;
$border-lightBlue: #DBE5FF;

//typography

//colors
$title-dark: #13141F;
$title-white: #fff;
$text-gray: #9D9D9D;
$text-light-blue: #C3CFED;
$text-dark: $title-dark;
$text-upup: #FF602E;

//fonts

$title-small: 52px;
$title-big: 80px;

//bg

$bg-red: #FF602E;
$bg-dark: #13141F;
$bg-lightBlue: #DBE5FF;

//padding

$sectionTopBot: 120px;

//transition

$transitionBtn: cubic-bezier(.01,0,0.3,1.3);