@import '../../styles/mixins';
@import '../../styles/variables';

.navbarMob {
  width: 100vw;
  height: calc(100vh - 65px);
  background: white;
  position: absolute;
  left: 0;
  top: 65px;
  z-index: 100;
  overflow-y: auto;
  padding-bottom: 70px;
  &_item{
    font-family: 'HelveticaNeueCyr-Bold', sans-serif;
    font-size: 18px;
    color: $text-dark;
    padding: 16px 24px;
    @include borderBottom($border-color);
  }
  &_mainMenu{

  }
  &_menuItem{
    @include borderBottom($border-color);
  }
  &_menuLink{
    font-family: 'HelveticaNeueCyr-Bold', sans-serif;
    font-size: 18px;
    color: $title-dark;
    padding: 24px 16px;
    display: block;
  }
  &_btnwrap{
    padding: 0 16px;
  }
  &_btn{
    background-color: $bg-red;
    color: white;
    font-family: 'HelveticaNeueCyr-Medium', sans-serif;
    font-size: 16px;
    padding: 20px 24px;
    width: 100%;
    max-width: 400px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    text-align: center;
    margin: 30px auto 0;
  }
}
.arrowDown, .arrowUp{
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  span{
    width: 2px;
    height: 17px;
    background-color: #6D6D74;
    &:before, &:after{
      content: '';
      display: block;
      position: absolute;
      width: 2px;
      height: 12px;
      transition: all 0.25s ease-in-out;
    }
    &:after{
      left: 7.5px;

    }
    &:before{
      right: 7.5px;
    }
  }
}
.arrowDown{
  //background-color: #FF602E;
  span{
    width: 2px;
    height: 17px;
    background-color: $bg-dark;
    &:before, &:after{
      top: 11px;
    }
    &:after{
      background-color: $bg-dark;
      transform: rotate(135deg);
    }
    &:before{
      background-color: $bg-dark;
      transform: rotate(-135deg);
    }
  }
}
.arrowUp{
  span{
    &:before, &:after{
      top: 1px;
    }
    &:after{
      background-color: #6D6D74;
      transform: rotate(45deg);
    }
    &:before{
      background-color: #6D6D74;
      transform: rotate(-45deg);
    }
  }
}