@import '../../styles/mixins';

.navbarMob {
  width: 100vw;
  height: calc(100vh - 65px);
  background: white;
  position: absolute;
  left: 0;
  top: 65px;
  z-index: 100;
  &_item{
    font-family: 'HelveticaNeueCyr-Bold', sans-serif;
    font-size: 18px;
    color: $text-dark;
    padding: 16px 24px;
    @include borderBottom;
  }
}