@import '../../../styles/mixins';
@import '../../../styles/variables';

.technologies{
  padding-top: 141px;
  padding-bottom: 150px;
  overflow: hidden;
  @media screen and (max-width: 1024px) {
    padding-top: 35px;
    padding-bottom: 46px;
  }
  &_container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(10, 139px);
    grid-template-rows: repeat(4, 139px);
    grid-column-gap: 0;
    grid-row-gap: 0;


    @media screen and (min-width: 1025px) {
      border-bottom: 1px solid #DBE5FF;
      position: relative;
      right: 32px;
      width: 102%;
    }
    @media screen and (max-width: 1400px) {
      grid-template-columns: repeat(10, 120px);
      grid-template-rows: repeat(4, 120px);
    }

    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(10, 100px);
      grid-template-rows: repeat(4, 100px);
    }
    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(4, 139px);
      grid-template-rows: repeat(10, 139px);
    }
    @media screen and (max-width: 560px) {
      grid-template-columns: repeat(4, 86px);
      grid-template-rows: repeat(10, 86px);
      padding: 0 16px;
    }
    @media screen and (max-width: 430px) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(10, 86px);
      padding: 0 16px;
    }

  }
  &_title {
    grid-area: 1 / 1 / 3 / 6;
    font-size: 52px;
    text-transform: uppercase;
    color: $title-dark;
    padding: 37px 28px 16px 30px;
    max-width: 617px;
    text-align: right;
    @media screen and (max-width: 1400px) {
      padding: 35px 16px 16px 20px;
    }
    @media screen and (max-width: 1200px) {
      font-size: 42px;
      max-width: 488px;
    }
    @media screen and (max-width: 1024px) {
      grid-area: 1 / 1 / 3 / 5;
      font-size: 44px;
      max-width: 510px;
    }
    @media screen and (max-width: 560px) {
      font-size: 32px;
      max-width: 331px;
      text-align: left;
      padding: 0;
      height: 96px;
      margin-top: 45px;
    }
    span{
      display: block;
      @media screen and (max-width: 560px) {
        display: inline;
      }
    }
    &Lastline{
      display: block;
      text-align: left;
      @media screen and (max-width: 560px) {
        display: inline;
      }
    }
  }
  &_btn {
    grid-area: 4 / 8 / 5 / 11;
    border: 1px solid #DBE5FF;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: .15s $transitionBtn;

    @media screen and (min-width: 1025px) {
      border-bottom: none;
    }
    @media screen and (max-width: 1024px) {
      grid-area: 9 / 1 / 10 / 5;
    }
    @media screen and (max-width: 560px) {
      grid-area: 9 / 1 / 11 / 5;
      height: 138px;
    }
    &:after, &:before{
      content: '';
      display: block;
      position: absolute;
    }
    &:before{
      top: 50%;
      left: -5%;
      width: 110%;
      height: 1px;
      background-color: #DBE5FF;
      transform: rotate(161.75deg);
      @media screen and (max-width: 1024px) {
        left: -7%;
        width: 114%;
        transform: rotate(166deg);
      }
      @media screen and (max-width: 560px) {
        transform: rotate(158.35deg);
      }
      @media screen and (max-width: 430px) {
        transform: rotate(161deg);
      }
      @media screen and (max-width: 415px) {
        transform: rotate(160.5deg);
      }
      @media screen and (max-width: 390px) {
        transform: rotate(159deg);
      }
      @media screen and (max-width: 375px) {
        transform: rotate(158.4deg);
      }
      @media screen and (max-width: 360px) {
        transform: rotate(157.4deg);
      }
    }
    &:hover{
      background-color: $bg-red;
      &:before{
        background-color: $bg-red;
        opacity: 0;
      }
      .technologies_btnTextTop, .technologies_btnText{
        color: $text-white;
      }
      .technologies_btnText{
        svg{
          transform: rotate(45deg);
        }
        path{
          stroke: #fff;
        }
      }
    }
  }
  &_btnText, &_btnTextTop{
    transition: color .15s linear;
  }
  &_btnText{
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: 'HelveticaNeueCyr-Medium', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: $title-dark;
    position: absolute;
    right: 20px;
    bottom: 18px;
    svg{
      transform-origin: center;
      transition: 0.41s all $transitionBtn;
    }
  }
  &_btnTextTop{
    font-family: 'HelveticaNeueCyr-Bold', sans-serif;
    font-size: 18px;
    color: $title-dark;
    position: absolute;
    left: 32px;
    top: 31px;
  }
  &_air {
    grid-area: 4 / 1 / 5 / 5;
    border-top: 1px solid #DBE5FF;
    position: relative;
    @media screen and (max-width: 1024px) {
      grid-area: 3 / 1 / 4 / 3;
    }
  }
  &_airLast{
    @media screen and (min-width: 1025px){
      display: none;
    }
    @media screen and (max-width: 1024px) {
      grid-area: 8 / 3 / 9 / 5;
    }
  }
  &_techBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-left: 1px solid #DBE5FF;
    border-top: 1px solid #DBE5FF;
    img{
      @media screen and (max-width: 1200px) {
        width: 54px;
        height: 54px;
      }
      @media screen and (max-width: 1024px) {
        width: 70px;
        height: 70px;
      }
      @media screen and (max-width: 560px) {
        width: 54px;
        height: 54px;
      }
    }
  }
}