@import '../../../styles/mixins';
@import '../../../styles/variables';
.cooperation{
  @media screen and (max-width: 769px){
    padding: 0 16px;
  }
  &_head{
    padding: 133px 40px 49px;
    background: $bg-lightBlue;
    @media screen and (max-width: 769px){
      padding: 80px 16px 30px;
      margin: 0 -16px;
    }
    &_title{
      max-width: 940px;
    }
  }
  &_containerHead{
    display: flex;
    justify-content: flex-end;
    @include container;
  }
  &_bodyItem{
    position: relative;
    @include borderBottom($border-lightBlue);
    &_container{
      display: flex;
      justify-content: space-between;
      //align-items: center;
      gap: 118px;
      overflow: hidden;
      @include container;
      transition: .21s background-color $transitionBtn;
      &:hover{
        background: rgba(219, 229, 255, 0.6);
        @media screen and (max-width: 769px){
          background: transparent;
        }
        .cooperation_tag{
          border-color: #fff;
          @media screen and (max-width: 769px){
            border-color: $border-lightBlue;
          }
        }
        .cooperation_bodyBtn{
          color: #fff;
          @media screen and (max-width: 769px){
            color: $title-dark;
          }
          svg{
            transform: rotate(45deg);
            path{
              stroke: #fff;
              @media screen and (max-width: 769px){
                stroke: #FF602E;
              }
            }
          }
          &:before{
            transform: translateX(0);
          }
        }
      }
      @media screen and (max-width: 1400px){
        gap: 2vw;
      }
      @media screen and (max-width: 769px){
        flex-direction: column;
      }
    }
  }
  &_bodyTagWrapper{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    gap: 8px;

    padding: 23px 0 33px 40px;
    flex: 0 0 368px;
    @media screen and (max-width: 850px){
      flex: 0 0 250px;
      width: 100%;
    }
    @media screen and (max-width: 769px){
      flex: 0 0 100%;
      width: 100%;
      padding: 30px 0 0;
    }
  }

  &_tag{
    font-family: 'HelveticaNeueCyr-Roman', sans-serif;
    font-size: 14px;
    line-height: 28px;
    color: $title-dark;
    border: 1px solid $border-lightBlue;
    padding: 0 13px 0 14px;
    border-radius: 30px;
    transition: .2s border-color $transitionBtn;
  }
  &_bodyNameWrapper{
    max-width: 597px;
    padding: 32px 0 32px 14px;
    @media screen and (max-width: 769px){
      max-width: 100%;
      padding: 40px 0 0;
      order: -1;
    }
    h4{
      font-family: 'HelveticaNeueCyr-Bold', sans-serif;
      font-size: 22px;
      line-height: 22px;
      color: $title-dark;
      margin-bottom: 11px;
    }
    p{
      font-family: 'HelveticaNeueCyr-Roman', sans-serif;
      font-size: 16px;
      line-height: 22px;
      color: #656464;
    }
  }
  &_bodyBtn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    width: 100%;
    padding: 32px 40px 33px;
    max-width: 239px;
    position: relative;
    font-size: 14px;
    color: $title-dark;
    text-transform: uppercase;
    transition: .21s all $transitionBtn;
    @media screen and (max-width: 769px){
      max-width: 100%;
      padding: 30px 0;
      justify-content: flex-end;
    }
    span, svg{
      position: relative;
      z-index: 1;
      transition: .2s all $transitionBtn;
    }
    svg{
      transform-origin: center;
      transition: .41s all $transitionBtn;
    }
    span{
      top: 3px;
      left: 0;
      letter-spacing: 0.15px;
    }
    &:before{
      content: '';
      display: block;
      width: 105%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transition: .41s all $transitionBtn;
      transform: translateX(100%);
      background-color: $bg-red;
      @media screen and (max-width: 769px){
        display: none;
      }
    }
  }
}