@import '../../styles/mixins';
.header{

  //&_navbarbg{
  //  position: fixed;
  //  width: 100vw;
  //  height: 100vh;
  //  background: rgba(0,0,0,.5);
  //  z-index: 7;
  //  left: 0;
  //  top: 0;
  //}
  &_navbarWrapperBg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    //z-index: 5;
    left: 0;
    top: 0;
    visibility: hidden;
    &.active{
      visibility: visible;
    }
  }
  &_navbar{
    //position: relative;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    list-style-type: none;
    //gap: 51px;
    transition: .3s all;
    @media screen and (max-width: 1200px) {
      font-size: 12px;
      margin-left: 0;
    }
    @media screen and (max-width: 1024px) {
      display: none;
    }
    font-size: 16px;
    &Wrapper{
      display: flex;
      gap: 51px;
      margin-left: 38px;
      @media screen and (max-width: 1210px) {
        gap: 30px;
      }
    }
    li{
      a{
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        transition: color .15s ease-in-out;
        &:hover{
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
  &_navbar2{
    li{
      &:first-of-type{
        a{
          padding-left: 0;
        }
      }
      a{
        @media screen and (max-width: 1200px) {
          line-height: 19px;
        }
      }
    }
  }
  &_navbar1{
    li{
      &:last-of-type{
        a{
          padding-right: 0;
        }
      }
    }
  }
  &_navbarItems{
    &>a{
      padding: 31px 25px;
      @media screen and (max-width: 1210px) {
        padding: 31px 15px;
      }
      img{
        transition: transform .5s ease-in-out;
        transform-origin: 50% 50%;
      }
    }
    &.active{
      &>a{
        img{
          transform: rotateX(180deg);
        }
      }
    }
  }
  &_submenuWrapper{
    position: absolute;
    left: 0;
    top: 78px;
    z-index: -1;
    background: #fff;
    width: 100vw;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    transition: all .2s ease-in-out;
    @include borderBottom;
    border-top: 1px solid $border-color;
    &.active{
      opacity: 1;
      visibility: visible;
      z-index: 100;
      transform: translateY(0);
    }
  }
  &_submenuContainer{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 40px;
    width: 100%;
    max-width: 1440px;
    list-style-type: none;
    visibility: hidden;
    gap: 15px;
    &.active{
      visibility: visible;
    }
  }
  &_submenu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 40px;
    max-width: 520px;
    @media screen and (max-width: 1265px) {
      grid-column-gap: 30px;
      grid-row-gap: 25px;
    }
    @media screen and (max-width: 1150px) {
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }
  }
  &_submenuItemLink{
    display: flex;
    flex-direction: column;
    text-align: left;
    transition: .3s background-color;
    padding: 9px 5px;
    position: relative;
    &:hover{
      background: #F5F5F5;
      &:before{
        opacity: 1;
      }
      .header_submenuItemTitle{
        transform: translateX(15px);
      }
    }
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 6px;
      top: 12px;
      width: 8px;
      height: 8px;
      background-color: $bg-red;
      opacity: 0;
      transition: all .15s ease-in-out;;
    }
    span{
      display: block;
      width: 100%;
    }
    .header_submenuItemTitle{
      transition: transform .15s ease-in-out;
      transform: translateX(0);
    }
  }
  &_submenuItemTitle{
    font-family: 'HelveticaNeueCyr-Medium', sans-serif;
    font-size: 16px;
    color: #13141F;
  }
  &_submenuItemDescription{
    font-family: 'HelveticaNeueCyr-Roman', sans-serif;
    font-size: 16px;
    color: rgba(19, 20, 31, 0.62);
    margin-top: 12px;
  }
  &_submenuPortfolio{
    display: inline-flex;
    justify-content: space-between;
    max-width: 682px;
    width: 100%;
    @media screen and (max-width: 1265px) {
      max-width: 600px;
    }
    @media screen and (max-width: 1150px) {
      max-width: 500px;
    }
  }
  &_submenuPortfolioItem{
    position: relative;
    align-self: flex-start;
    overflow: hidden;
    &:hover{
      img{
        transform: scale(1.05);
      }
    }
    img{
      transition: transform .15s ease-in-out;
      @media screen and (max-width: 1265px) {
        max-width: 280px;
        height: 200px;
        object-fit: cover;
      }
      @media screen and (max-width: 1150px) {
        max-width: 240px;
        height: 170px;
      }
    }
  }
  &_submenuPortfolioName{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-family: 'HelveticaNeueCyr-Bold', sans-serif;
    font-size: 16px;
    color: #fff;
    z-index: 2;
  }
}