@import '../../../styles/mixins';
@import '../../../styles/variables';

.journey{
  padding-top: 110px;
  padding-bottom: 97px;
  background-color: $bg-dark;
  @media screen and (max-width: 769px) {
    padding-top: 80px;
    padding-bottom: 0;
  }
  &_listWrap{
    display: flex;
    gap: 128px;
    padding: 40px 0;
    color: $text-white;
    @media screen and (max-width: 991px) {
      gap: 60px;
    }
    @media screen and (max-width: 769px) {
      gap: 40px;
    }
    @include borderTop(#454857);
  }
  &_listWrapItems{
    margin-top: 75px;
    @media screen and (max-width: 769px) {
      margin-top: 40px;
    }
  }

  &_caption{
    font-family: 'HelveticaNeueCyr-Roman', sans-serif;
    font-size: 16px;
    line-height: 140%;
    margin-top: 30px;
    @media screen and (max-width: 769px) {
      margin-top: 21px;
    }
  }
  &_title, &_content{
    color: $text-white;
  }
  &_textTitle{
    font-family: 'HelveticaNeueCyr-Medium', sans-serif;
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
  }
  &_content{
    max-width: 900px;
    @media screen and (max-width: 1200px) {
      max-width: 700px;
    }
    @media screen and (max-width: 769px) {
      order: -1;
      max-width: 100%;
      padding: 0 16px;
    }
  }
  &_number,  &_textcaption{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.4);
  }
  &_number{
    font-family: 'HelveticaNeueCyr-Medium', sans-serif;
    @media screen and (max-width: 1200px) {
      min-width: 42px
    }
  }
  &_textcaption{
    font-family: 'HelveticaNeueCyr-Roman', sans-serif;
    margin-top: 24px;
  }
  &_container{
    display: flex;
    gap: 50px;
    padding: 0 40px;
    @media screen and (max-width: 1200px) {
      gap: 30px;
    }
    @media screen and (max-width: 769px) {
      padding: 0;
      flex-direction: column;
      gap: 0;
    }
    @include container;
  }
  &_performs{
    color: $text-upup;
    font-family: 'HelveticaNeueCyr-BoldItalic', sans-serif;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    margin-right: 100px;
    text-align: right;
    @media screen and (max-width: 769px) {
      margin-top: 20px;
      margin-right: 0;
    }
  }
  &_info{
    position: relative;
    &_Block{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $bg-red;
      padding: 30px 30px 22px;
      min-height: 427px;
      margin-top: 385px;
      @media screen and (max-width: 769px) {
        margin-top: 0;
        min-height: unset;
        text-align: center;
      }
      position: sticky;
      top: 120px;
      h3{
        font-family: 'HelveticaNeueCyr-Heavy', sans-serif;
        font-size: 32px;
        text-transform: uppercase;
        @media screen and (max-width: 769px) {
          display: none;
        }
      }
      a{
        display: flex;
        align-items: center;
        gap: 14px;
        font-size: 24px;
        font-family: 'HelveticaNeueCyr-Medium', sans-serif;
        color: $text-white;
        text-transform: uppercase;
        @media screen and (max-width: 769px) {
          justify-content: center;
        }
        &:hover{
          svg{
            transform: rotate(45deg);
          }
        }
        svg{
          position: relative;
          top: -2px;
          transition: transform .3s ease-in-out;
        }
      }
    }
  }
}