@import '../../styles/mixins';
@import '../../styles/variables';

.industries{

}
.container{
  display: flex;
  justify-content: space-between;
  @include container;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}